/* CustomCursor.scss */
.custom-cursor {
  position: fixed;
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  background-color: transparent;
  pointer-events: none;
  z-index: 9999; /* Ensure it appears on top of other elements */
  transition: transform 0.1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow,
.right-arrow {
  cursor: none;
}
