/* Add this CSS to your styles.css */

.slider-scroll-vertical {
  height: 100vh;
  position: relative;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.panel {
  height: 100vh; /* You may need to adjust this based on your design */
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
}

.image-container {
  flex: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.panel-content {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}

.button-next {
  position: absolute;
  left: 0;
  top: 20%;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
