/* sliderscrollvertical.css */

.slider-scroll-vertical {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.panel {
  height: 100vh; /* You may need to adjust this based on your design */
  width: 100%;
  position: relative;
  display: flex; /* Add this to make the children flex items */
  align-items: center; /* Center vertically */
}

.image-container {
  flex: 1; /* Take up the remaining space */
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.panel-content {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}
