html,
body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;

  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.panel {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  width: 100%;
  position: relative;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  color: white;
}

.overlay-top {
  position: fixed;
  width: 100vw;
  height: 20%;
  background-color: white;
  top: 0%;
  z-index: 4;
}
.overlay-bottom {
  position: fixed;
  width: 100vw;
  height: 20%;
  bottom: 0%;
  background-color: white;
  z-index: 4;
}

.image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}

.title {
  justify-content: center;
  z-index: 2;
  align-items: center;
  position: asbolute;
  font-size: 16px;
}

.red {
  color: #e26161;
  background-color: rgb(24, 2, 2);
}
.green {
  color: #258b27;
  background-color: rgb(7, 29, 3);
}
.yelow {
  color: #baba09;
  background-color: rgb(73, 77, 1);
}
.blue {
  color: #1616dc;
  background-color: rgb(7, 2, 38);
}
.pink {
  color: #ec92a3;
  background-color: #76404a;
}
.turkey {
  color: #02b8a5;
  background-color: #05525b;
}
