.item-background-container {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-areas:
    "... titles ..."
    "brands content lines"
    "... credits arrows";
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 1fr 2.6fr 1fr;
  overflow: hidden;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .item-background-container {
    grid-template-areas:
      "... titles ..."
      "brands content lines"
      "... credits arrows";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

.item-titles {
  grid-area: titles;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative; /* Add relative positioning to establish a containing block */
  margin-bottom: 0px; /* Adjust the value as needed */
  justify-content: flex-end;
}

.production-title-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  right: 0%;
  left: 23%;
  top: 4%;

  z-index: 3;
  grid-area: credits;
}

.production-title {
  visibility: visible;
  color: black;
  font-family: Inter;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: bold;
  font-weight: 500;
  font-size: clamp(8px, 10px, 60%);
  place-content: flex-start;
  align-items: left;
  text-align: left;
  position: relative;

  max-width: 100px;
}

.production-title-1 {
  visibility: visible;
  color: black;
  font-family: Inter;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: bold;
  font-weight: 700;
  font-size: clamp(12px, 50%, 70%);
  place-content: flex-start;
  align-items: left;
  text-align: left;
  position: relative;
  right: 36%;
  top: 4%;
}

.item-image-container {
  grid-area: content;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.thumbnail-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  border-radius: 2rem;
}

.thumbnail-image {
  object-fit: cover;
  border-radius: 2rem;
  width: 65%;
  height: 90%;
  position: absolute;
}

.item-media-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.nextprev-button-wrapper {
  grid-area: arrows;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  right: 25%;
  -index: 5;
  background-color: transparent;
  gap: 18px; /* Adjust as needed */
}

.item-credits {
  grid-area: credits;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  font-family: Poppins;
  letter-spacing: 0.18em;
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
}

.brand-title {
  color: grey;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 25%; /* Adjust the margin as needed */
  margin-bottom: 0.7%;
}

.item-title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 25%; /* Adjust the margin as needed */
}

@media screen and (max-width: 768px) {
  .item-title {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: bold;
    font-weight: 650;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 25%; /* Adjust the margin as needed */
  }
  .brand-title {
    color: grey;
    font-family: Inter;
    font-size: 10px;
    font-style: bold;
    font-weight: 550;
  }
}

.button-prev,
.button-next {
  background-color: transparent;
  border: none;
  z-index: 5;
}

.button-next {
  object-fit: contain; /* Maintain aspect ratio */
  cursor: pointer;
}

.button-prev {
  object-fit: contain;
  cursor: pointer;
  transform: scale(1);
}

.item-media-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.mux-video-player-hover {
  width: 100%;
  height: 100%;
  position: relative;
}

.item-image-container {
  height: 100%;
  width: 100%;
}
