.brand-sidebar-container {
  display: flex;

  align-items: flex-end;
  flex-direction: column;
  gap: 12px;
  z-index: 100;
  top: 25%;
  left: 0%;
  position: relative;
  grid-area: brands;
}

.brand-filter-button {
  color: grey;
  font-family: Inter;
  text-transform: uppercase;
  font-weight: bold;
}
