.brand-sidebar-container {
    grid-area: brands;
    display: flex;
    align-items: center; /* Adjust to center the items on the y-axis */
    justify-content: center;
    flex-direction: column;
    gap: 12px; /* Adjust as needed */
    z-index: 100;
  }
  